*{
    margin: 0;
    padding: 0;

}
body{
   margin: 25px;
  
}
.container{
    border-radius: 15px solid black;
}
.center{
    text-align: center;
    margin: 25px;
    padding: 30px;
    text-decoration: underline;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */

    grid-gap: 10px;
    
    
    
    
  }
  
  img {
    width: 425px;
    height: 300px;
    border: 2px solid black;
    border-radius: 12px;
   
    
    
  }
  
  
  
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }